asgiref
backports.zoneinfo
certifi
charset-normalizer
coreapi
coreschema
dj-database-url
Django
django-heroku
django-rest-swagger
djangorestframework
drf-yasg
gunicorn
idna
inflection
itypes
Jinja2
MarkupSafe
openapi-codec
packagin
psycopg2
pyparsing
pytz
requests
ruamel.yaml
ruamel.yaml.clib
simplejson
six
sqlparse
uritemplate
urllib3
whitenoise
